{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rock Paper Scissors Game</title>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<style>
		body{
			background-image: url("https://cdn.wallpapersafari.com/73/58/n6DP8O.jpg");
			background-repeat: no-repeat;
			background-size:cover;
		}
	</style>
	
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<center>
	<a class="navbar-brand" href="#"><h1 style="color: rgb(15, 15, 15); font-size: 40px; text-align: center; padding: 10px;">Rock Paper Scissor</h1></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	</center>
  
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" href="{% url 'signup' %}">
				<p style="color: rgb(19, 18, 18); font-size: 20px; text-align: center; padding: 10px;">
				Sign up
			    </p>
			</a>
		  </li>
		<li class="nav-item">
		  <a class="nav-link" href="{% url 'login' %}">
			<p style="color: rgb(8, 8, 8); font-size: 20px; text-align: center; padding: 10px;"> 
			   Login
			</p>
		  </a>
		</li>

		<li class="nav-item">
			<a class="nav-link" href="{% url 'logout' %}">
			  <p style="color: rgb(12, 12, 12); font-size: 20px; text-align: center; padding: 10px;"> 
				 Logout
			  </p>
			</a>
		  </li>
	  </ul>
	  <small style="color:rgb(17, 17, 17); font-size: 20px;">Player :  {{request.user}} </small>
	</div>
  </nav>
	{% block content %}
	{% endblock %}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>